Node Red Flow.txt
[{"id":"b6542032.d61d","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"61e50d.96b40af4","type":"inject","z":"b6542032.d61d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["b97bb575.1a3fc8"]]},{"id":"b6dd5714.1e1b78","type":"debug","z":"b6542032.d61d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":60,"wires":[]},{"id":"b97bb575.1a3fc8","type":"http request","z":"b6542032.d61d","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com\\v3\\identity\\token","tls":"","proxy":"","authType":"basic","x":290,"y":140,"wires":[["b6dd5714.1e1b78","bb52d021.94add"]]},{"id":"bb52d021.94add","type":"function","z":"b6542032.d61d","name":"prediction input","func":"var token=msg.payload.token;\nvar rd=global.get(\"rd\");\nvar admin=global.get(\"admin\");\nvar mspend=global.get(\"mspend\");\nvar state0=global.get(\"state0\")\nvar state1=global.get(\"state1\")\nmsg.payload={\"fields\":[\"state0\",\"state1\",\"r&d\",\"admin\",\"marketing spend\"],\"values\":[[state0,state1,rd,admin,mspend]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["6ad30e7c.25659"]]},{"id":"6ad30e7c.25659","type":"http request","z":"b6542032.d61d","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/92cb35cf-d214-445b-9bd1-c3f3b3a6a214/deployments/f49480b4-df74-4c4d-890d-059ab9d4c93c/online","tls":"","proxy":"","authType":"basic","x":570,"y":180,"wires":[["597dde8.ed1cf2"]]},{"id":"597dde8.ed1cf2","type":"function","z":"b6542032.d61d","name":"Json Parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":120,"wires":[["b6dd5714.1e1b78","be2a19fc.a9cef8"]]},{"id":"583f392c.398098","type":"ui_dropdown","z":"b6542032.d61d","name":"","label":"","tooltip":"","place":"select state","group":"df9949ea.c8f0d8","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"New York","value":"New York","type":"str"},{"label":"California","value":"California","type":"str"},{"label":"Florida","value":"Florida","type":"str"}],"payload":"","topic":"","x":220,"y":440,"wires":[["35880659.e0fdea"]]},{"id":"85a3f407.ffb688","type":"ui_form","z":"b6542032.d61d","name":"","label":"","group":"df9949ea.c8f0d8","order":2,"width":0,"height":0,"options":[{"label":"Enter R&D cost","value":"rd","type":"number","required":true},{"label":"Enter Administration c0st","value":"admin","type":"number","required":true},{"label":"Enter Marketing cost","value":"mspend","type":"number","required":true}],"formValue":{"rd":"","admin":"","mspend":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":300,"wires":[["c09113b2.9d4a9"]]},{"id":"35880659.e0fdea","type":"function","z":"b6542032.d61d","name":"State Selection","func":"if(msg.payload==\"New York\"){\n    global.set(\"state0\",0);\n    global.set(\"state1\",1);\n}\nelse if(msg.payload==\"California\"){\n    global.set(\"state0\",0);\n    global.set(\"state1\",0);\n}\nelse if(msg.payload==\"Florida\"){\n    global.set(\"state0\",1);\n    global.set(\"state1\",0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":380,"wires":[[]]},{"id":"c09113b2.9d4a9","type":"function","z":"b6542032.d61d","name":"Input","func":"global.set(\"rd\",msg.payload.rd);\nglobal.set(\"admin\",msg.payload.admin);\nglobal.set(\"mspend\",msg.payload.mspend);\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":220,"wires":[["b97bb575.1a3fc8"]]},{"id":"be2a19fc.a9cef8","type":"ui_text","z":"b6542032.d61d","group":"df9949ea.c8f0d8","order":2,"width":0,"height":0,"name":"","label":"Profit","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":120,"wires":[]},{"id":"df9949ea.c8f0d8","type":"ui_group","z":"","name":"ML Model","tab":"bf05fd4.b4278","disp":true,"width":"6","collapse":false},{"id":"bf05fd4.b4278","type":"ui_tab","z":"","name":"3 D printing","icon":"dashboard","disabled":false,"hidden":false}]